*.pdf
*~
*.csv
*.aux
*\#
*.out1
*.dat
*.gz
*.log
*.pptx
*.docx
*.otf
*.txt
*.RData
*.rar
*.sty
*.dta
*.zip
Brazil/*
deconvo/*
# .Rproj*
*.rtf
printa*
test2*
*.out
testpak/*
deconvo.*
.Rhistory
.Rproj.*

